<h1>  Make your URL Teeny! </h1>

<% if (typeof(user _header.) != 'undefined') { %>
   <%= user.email %>
    <form method="POST" action="/logout">
      <input type="submit" value="LOGOUT">
    </form>
<% } %>

<% if (typeof(user) === 'undefined') { %>
  <a href="/register">Register</a>
<% } %>

<% if (typeof(user) === 'undefined') { %>
  <a href="/login">Login</a>
<% } %>

