<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Tiny App</title>
  </head>

  <body style="font-size:20px; padding:50px;">

  <h1> Make your URL Teeny</h1>
  <h2> Register: </h2>

    <form action="/register" method="POST">

      <p>
        <label> Email </label>
        <input type="email" name="email" placeholder="Email">
      </p>

      <p>
        <label> Password </label>
        <input type="password" name="password" placeholder="password">
      </p>
      <input type="submit" value="Register">

    </form>

  </body>

</html>