<!DOCTYPE html>

<html lang="en">

 <head>
   <title>Tiny App</title>
 </head>

 <body style="font-size: 20px; padding: 50px;">

  <h1>Make your URL Teeny!</h1>

   <p>
     Nice to see you!  Please login:
   </p>
   <a href="/login">Login!</a>

   </form>

 </body>

</html>
